<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Enter Patient Registration Number</h1>
    <form action="#" th:action="@{/patientlookup}" th:object="${patientId}" method="post">
    	<p>Patient Registration Number: <input type="number" th:field="*{id}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
